@if (profile) {
<div id="editProfileForm" class="form | flex flex-col items-center justify-center w-full h-full">

    <h1>Editar el perfil</h1>
    
    <form id="edit-form" [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()"
        class="form-widget w-full flex flex-col justify-center items-center">

            <mat-form-field class="w-1/3">
                <mat-label for="username"> {{ 'name' | transloco }}</mat-label>
                <input id="username" matInput appearance="outline" formControlName="username" type="text" required />
            </mat-form-field>
   
            <mat-form-field class="w-1/3">
                <mat-label> Clase: </mat-label>
                <mat-select formControlName="clase" required>
                    @for (class of classList; track $index) {
                        <mat-option [value]="class">
                            {{ class }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-1/3">
                <mat-label> Poder: </mat-label>
                <mat-select formControlName="power" required>
                    @for (power of powerList; track $index) {
                        <mat-option [value]="power">
                            {{ power }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        
            <mat-form-field class="w-1/3">
                <mat-label> Nivel: </mat-label>
                <mat-select formControlName="level" required>
                    @for (level of levels; track $index) {
                        <mat-option [value]="level">
                            {{ level }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        
            <mat-form-field class="w-1/3">
                <mat-label> Arma: </mat-label>
                <mat-select formControlName="weapon" required>
                    @for (weapon of weaponList; track $index) {
                        <mat-option [value]="weapon">
                            {{ weapon }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
    </form>

    <button id="submit_button" type="submit" form="edit-form" class="button primary block submit">
        Actualizar
    </button>
</div>
} 
