@if (profile) {
<div class="arrow-left | absolute top-12 left-7 bg-slate-200 rounded-xl hover:cursor-pointer" (click)="goBack()">
    
</div>

<div id="editProfileStatsForm" class="form | flex flex-col gap-4 items-center justify-center mt-10 w-full h-full">

    <h1> {{ 'edit-stats' | transloco }} </h1>

    <form id="edit-stats-form" [formGroup]="updateProfileStatsForm"
        class="form-widget w-full gap-7 flex flex-col justify-center items-center">

        <mat-form-field>
            <mat-label> Vida actual: </mat-label>
            <input matInput type="number" formControlName="current_hp" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Vida máxima: </mat-label>
            <input matInput type="number" formControlName="total_hp" required>
        </mat-form-field>
   
        <mat-form-field>
            <mat-label> Ataque: </mat-label>
            <input matInput type="number" formControlName="attack" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Defensa: </mat-label>
            <input matInput type="number" formControlName="defense" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Ataque especial: </mat-label>
            <input matInput type="number" formControlName="special_attack" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Defensa Especial: </mat-label>
            <input matInput type="number" formControlName="special_defense" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Velocidad: </mat-label>
            <input matInput type="number" formControlName="speed" required>
        </mat-form-field>
    </form>

    <button id="submit_button" form="edit-form" class="button primary block submit" (click)="updateProfileStats()">
        {{ 'update-profile' | transloco }}
    </button>
</div>
}