<div class="flex">         
    <mat-select [(ngModel)]="selectedLocale" (ngModelChange)="changeLocale()" >
        @for (locale of locales; track $index) {
            <mat-option class="m-2" [value]="locale" class="w-full" >
                <img src="{{ getLocaleFlag(locale) }}" alt="{{ locale }}" class="w-6 h-6 mt-2">
                <p> {{ getLocaleText(locale) }} </p>
            </mat-option>
        }
    </mat-select>

    <img src="{{ getLocaleFlag(this.selectedLocale) }}" alt="{{ selectedLocale}}" class="w-6 h-6">
</div>