<div class="flex flex-col h-full w-full items-center mt-10 overflow-scroll">
    <h1 class="mt-4"> Perfil de Admin: DM </h1>

    @if (enemiesList && enemiesList.length > 0) {
        @for (enemy of enemiesListToStartBattle; track $index) {
            <div>
                <h2> Enemigos preparados para el combate: </h2>
                <ul>
                    <li>
                        <p> {{ enemy.name }} </p>
                    </li>
                </ul>
            </div>
        }
    }

    <div class="flex flex-row m-5">
        <button (click)="startBattle()">
            {{ 'begin-battle' | transloco }}
        </button>
    </div>

    <p> Listado de enemigos disponibles : </p>

    @if (enemiesList && enemiesList.length > 0) {
        @for (enemy of enemiesList; track $index) {
            <mat-card class="mt-4 md:w-1/3 w-3/4">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title> {{ enemy.name }} </mat-card-title>
                    <mat-card-subtitle>  </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="m-4" [src]="enemy.image_url" alt="photo of enemy">
                <mat-card-content>
                    <p>
                        {{ enemy.description }}
                    </p>
                </mat-card-content>
                <mat-card-content>
                    <p>
                        {{ 'level' | transloco }} : {{ enemy.level }}
                    </p>
                </mat-card-content>
                <mat-card-actions class="flex flex-row m-4">
                    <button class="ml-4" mat-button (click)="addEnemyToBattle(enemy)"> {{ 'add' | transloco }} </button>
                    <button class="ml-4" mat-button> {{ 'delete' | transloco }} </button>
                </mat-card-actions>
            </mat-card>
        }
    }

    <app-locale-changer class="mt-6"></app-locale-changer>

    <div class="mt-8 mb-8">
        <button (click)="signOut()">
            {{ 'sign-out' | transloco }}
        </button>
    </div>

</div>