<div class="h-full flex flex-col items-center justify-center auth-container">
  <div class="flex items-center justify-center auth-header">
    <h1 class="!mt-10 !mb-14 !text-3xl auth-title"> 
      <span class="title-accent">Rol Game</span> Manager 
    </h1>
  </div>

  <form [formGroup]="signInForm" class="auth-form material">

    <div class="w-3/4 form-field-container">
      <mat-form-field class="w-full !m-4 custom-field">
        <mat-label for="username"> Email: </mat-label>
        <input matInput class="inputField" type="email" autocomplete="email" formControlName="email" placeholder="Email" required />

        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
          <mat-error>
            Introduce un email válido
          </mat-error>
        }

        @if (emailFormControl.hasError('required')) {
          <mat-error>
            Email es <strong>necesario</strong>
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="w-3/4 form-field-container">
      <mat-form-field class="w-full !m-4 custom-field">
        <mat-label for="password"> Contraseña: </mat-label>
        <input matInput type="password" autocomplete="current-password" formControlName="password" class="inputField" placeholder="Password" required />

        @if (passwordFormControl.hasError('required')) {
          <mat-error>
            La contraseña es <strong> necesaria </strong>
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="flex flex-col form-actions">
      <button type="submit" aria-live="polite" class="primary-button" (click)="handleLogin()">
        Login
      </button>
      <p class="!mt-2 separator-text"> O </p>
      <button type="button" (click)="handleSignup()" aria-live="polite" class="secondary-button">
        Regístrate
      </button>
    </div>
  </form>

  @if (displayErrorMessage) {
    <div class="error-message">
      Oops, ha ocurrido un error inesperado. Por favor, inténtalo de nuevo más tarde.
    </div>
  }
</div>