<div class="min-h-screen w-full flex flex-col items-center justify-center auth-container">
  <div class="w-full flex items-center justify-center auth-header px-4">
    <div class="title-wrapper">
      <h1 class="auth-title"> 
        <span class="title-accent">Rol Game</span> Manager 
      </h1>
      <p class="auth-subtitle">Tu aventura comienza aquí</p>
    </div>
  </div>

  <form [formGroup]="signInForm" class="auth-form">

    <div class="w-full form-field-container">
      <mat-form-field class="w-full custom-field" appearance="fill">
        <mat-icon matPrefix>email</mat-icon>
        <input matInput 
               type="email" 
               autocomplete="email" 
               formControlName="email"
               placeholder="Email" 
               required />

        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>
          Introduce un email válido
        </mat-error>
        }

        @if (emailFormControl.hasError('required')) {
        <mat-error>
          Email es <strong>necesario</strong>
        </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="w-full form-field-container">
      <mat-form-field class="w-full custom-field" appearance="fill">
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput 
               type="password" 
               autocomplete="current-password" 
               formControlName="password"
               placeholder="Contraseña" 
               required />

        @if (passwordFormControl.hasError('required')) {
        <mat-error>
          La contraseña es <strong>necesaria</strong>
        </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="w-full flex flex-col items-center form-actions">
      <button type="submit" aria-label="Iniciar sesión" class="primary-button" (click)="handleLogin()">
        Iniciar Sesión
      </button>
      <p class="separator-text"> o </p>
      <button type="button" (click)="handleSignup()" aria-label="Crear cuenta nueva" class="secondary-button">
        Crear Cuenta
      </button>
    </div>
  </form>

  @if (displayErrorMessage) {
  <div class="error-message">
    Oops, ha ocurrido un error inesperado. Por favor, inténtalo de nuevo más tarde.
  </div>
  }
</div>