<div class="flex flex-col items-center justify-start h-full mt-4">

    <mat-tab-group class="justify-start w-4/5">
        <mat-tab label="Perfil">
            <app-profile-info [profile]="profile"></app-profile-info> 
        </mat-tab>
        <mat-tab label="Estadísticas">
            <app-profile-stats [profile]="profile"></app-profile-stats>
        </mat-tab>
        <mat-tab label="Inventario">
            <!-- <app-profile-inventory [profile]="profile"></app-profile-inventory> -->
        </mat-tab>
        <mat-tab label="Habilidades">
            <app-habilities [profile]="profile"></app-habilities>
        </mat-tab>
    </mat-tab-group>

    <div class="mt-4">
        <button class="hover:cursor-pointer" (click)="signOut()">Cerrar sesión</button>
    </div>

</div>