@if (profile) {
    <div class="flex flex-col items-center justify-start w-full h-full mt-4">

        <mat-tab-group class="justify-start w-4/5">
            <mat-tab label="{{ 'profile' | transloco}}">
                <app-card></app-card>
            </mat-tab>
            <mat-tab class="w-full" label="{{ 'stats' | transloco}}">
                <app-profile-stats [profile]="profile"></app-profile-stats>
            </mat-tab>
            <mat-tab label="{{ 'inventory' | transloco}}">
                <!-- <app-profile-inventory [profile]="profile"></app-profile-inventory> -->
            </mat-tab>
            <mat-tab label="{{ 'habilities' | transloco}}">
                <app-habilities [profile]="profile"></app-habilities>
            </mat-tab>
        </mat-tab-group>

        <div class="flex flex-row items-center justify-center mt-4">
            <button [routerLink]="['/profile-edit']">
                <a [routerLink]="['/profile-edit']"> {{ 'edit-profile' | transloco }} </a>
            </button>
        </div>

        <div class="mt-12">
            <button class="hover:cursor-pointer" (click)="signOut()">{{'signOut' | transloco}}</button>
        </div>

    </div>
}

@if (errorConfirmEmail) {
    <div class="flex flex-col items-center justify-center h-full w-full mt-4">
        <h1 class="">{{ 'error-confirm-email' | transloco }}</h1>
        <button (click)="goBack()" >
            <p> {{ 'go-back' | transloco }} </p>
        </button>
    </div>
}