/* Pantalla pequeña */
@media (width < 700px) {
    .mat-mdc-table {
        width: 100% !important;
    }

    .mat-mdc-table td,
    .mat-mdc-table th {
        text-align: center;
        width: 20%;
        vertical-align: middle;
        border: 3px solid #ccc;
        padding: 30px;
        justify-content: center;
        align-items: center;
        font-family: "Courier New", Courier, monospace;
        font-size: 1.5em;
    }
}

/* Pantalla grande */
@media (width >= 700px) {
    .mat-mdc-table {
        width: 100% !important;
    }

    .mat-mdc-table tr {
        display: flex;
    }

    .mat-mdc-table td,
    .mat-mdc-table th {
        text-align: center;
        width: 20%;
        vertical-align: middle;
        border: 1px solid #ccc;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Estilos generales para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
}

th,
td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

thead {
    background-color: #f4f4f4;
}

tbody tr {
    transition: background-color 0.3s ease;
    margin-bottom: 0.5em;
}


/* Estilos específicos para móviles */
@media (max-width: 700px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin-bottom: 15px;
        padding-bottom: 20px;
    }

    td {
        text-align: center;
    }
}
