<div class="mt-12 w-full mb-12">
    <div class="flex flex-col items-center">
        <h1 class="text-2xl font-bold">{{ 'stats of the character' | transloco }} </h1>
        <div>
            <table>
                <thead>
                    <tr>

                    </tr>
                </thead>
                <tbody>
                    @for (key of keys; track $index) {
                        <tr>
                            <td>
                                {{ key }} : {{ dataSource[0][key] }}
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="mt-8 flex flex-col items-center">
            <button class="hover:cursor-pointer" (click)="goToEditStats()">{{ 'edit-stats' | transloco }}</button>
        </div>
    </div>