.mat-mdc-table {
    width: 100% !important;
}

.mat-mdc-table tr {
    display: flex;
}

.mat-mdc-table td, .mat-mdc-table th {
    text-align: center;
    width: 20%;
    vertical-align: middle;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
