@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    color-scheme: dark;
    height: 95%;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    font-family: Roboto, "Helvetica Neue", Inter, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

#app {
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.snack-bar-success {
    background-color: #4CAF50;
    color: #fff;
}
  
