<div class="card-front">
    <div class="card-front__level"><span class="text-black">{{ profile?.level }}</span></div>
    <h2 class="card-front__title">{{ profile?.username }}</h2>
    <div class="card-front__image">
        <img class="image" [src]="profile?.image_url" alt="Character">
    </div>
    <ul class="card-front__info">
        <li>
            <div>Poder</div>
            <div>{{ profile?.power }} {{ elementEmoji }} </div>
        </li>
        <li>
            <div>Clase</div>
            <div>{{ profile?.clase }}</div>
        </li>
        <li>
            <div>Arma</div>
            <div>{{ profile?.weapon }}</div>
        </li>
    </ul>
</div>
